/*
Colours used:
Primary Colour (Taupe) #DBD6D5
Secondary Colour (Grey-Blue) #587291
Tertiary Colour (Cream) #FDFFFC
Tertiary Colour (Dark Grey) #001524
*/
* {
  box-sizing: border-box;
}

/* FONTS */
body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #001524;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

/* IMAGES */
img {
  width: 100%;
}

.logo {
  max-width: 80px;
}

/* HYPERLINKS */
a, a:visited {
  color: #587291;
  font-weight: 700;
}

a:hover, a:focus, a:active {
  color: #DBD6D5;
}

.tags {
  font-size: 0.9em;
  font-style: italic;
  color: #587291;
}

/* BUTTONS - Must be at the end of a css doc, or at least under ALL hyperlink stylings */
.button {
  display: inline-block;
  background-color: #001524;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #DBD6D5;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #587291;
}

.button.contact {
  background-color: #001524;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #DBD6D5;
  color: #ffffff;
}

.button.contact:active {
  background-color: #000000;
  color: #ffffff;
}

.button-soon {
  display: inline-block;
  background-color: #DBD6D5;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #DBD6D5;
}


/* LAYOUT STYLING */
.section {
  padding: 30px 0
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work .row:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}


header {
  background-color: #DBD6D5;
  padding: 10px 0 4px;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

footer {
  background-color: #DBD6D5;
  text-align: center;
}

main {
  padding-top: 101px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  border-top: 1px solid #FDFFFC;
}

.navtoggle.responsive li a {
  display:block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav>ul {
  /* removes the bullet point from an unordered list */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  /* adds spacing and padding to the nav links in one line. code selects links that are list elements within an unordered list within the nav element */
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #587291;
  text-decoration: none;
}

nav>ul>li>a:hover, nav>ul>li>a:active, nav>ul>li>a:visited {
  color: #587291;
}



#hero {
  background-color: #DBD6D5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center
}

#hero span {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 10px;
}

#contact {
  padding: 5px 0;
}

.social {
  padding: 20px 0
}

.social a {
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px 15px;
}

.body-text {
  max-width: 900px;
  margin: 50px auto;
}

/* ANIMATIONS */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* BREAK POINTS */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

nav>ul { margin: 1em 0;}

  nav>ul>li {
    /* moves the navigation links into one line. code only selects list elements in unordered lists within the nav element. */
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

.navtoggle.responsive nav {
  padding: 0;
}

.navtoggle.responsive li  {
  border-top: none;
}

.navtoggle.responsive li a {
  padding: 0 15px;
}

  main {
    padding-top: 120px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    margin-top: 0;
  }

  .about h3 {
    text-align: center;
  }

  .about ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-12 {
    width: 100%;
    margin: 20px auto;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .sktl {
    background-color: #587291;
    color: #ffffff;
  }

  .about-text {
    max-width: 900px;
    padding-right: 30px;
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {}
